<div class="d-flex flex-column flex-md-row align-items-right p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h1 class="my-0 mr-md-auto font-weight-normal">
    <app-header></app-header>
    </h1>
   

    <nav class="my-2 my-md-2 mr-md-3">
      <a class="p-2 text-dark"  [routerLink]="['/shop']">Shop</a>
      <a class="p-2 text-dark" href="#">Enterprise</a>
      <a class="p-2 text-dark" href="#">Support</a>
      <a class="p-2 text-dark" href="#">Pricing</a>
    </nav>
    <a class="btn btn-outline-primary" [routerLink]="['/register']">Sign up</a>&nbsp;&nbsp;
    <a class="btn btn-outline-secondary" [routerLink]="['/login']">Login</a>&nbsp;&nbsp;
  </div>
  